body{
    background-image: url(download\ \(2\).jpg);
        background-size:contain;
    
    background-repeat: no-repeat;
    background-position:center;
}
p{
    color:yellow ;
}


    